@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes scale-animation {
  to {
    transform: scale(1.25);
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "Paalalabas Condensed";
  src: url("/assets/fonts/paalalabas/PaalalabasCondensed.woff2") format("woff2"),
    url("/assets/fonts/paalalabas/PaalalabasCondensed.woff") format("woff");
  font-weight: 400; /* ajusta si tenés más pesos */
  font-style: normal;
  font-display: swap; /* mejor rendimiento */
}

body {
  margin: 0;
  padding: 0;
}
#hero {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/BgImgHero.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#header {
  background-color: #0d0e0eb3;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 80px;
}

#title {
  color: #fffce8;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

#title:hover {
  color: #fec713;
  text-decoration: underline;
  text-underline-offset: 3px; /* más bonito */
  text-decoration-thickness: 2px;
  animation: scale-animation 1.24s
    linear(
      0,
      0.0114,
      0.0427,
      0.0898,
      0.149,
      0.2169,
      0.2906,
      0.3673,
      0.445,
      0.5216,
      0.5958,
      0.6663,
      0.7321,
      0.7926,
      0.8474,
      0.8962,
      0.9389,
      0.9758,
      1.0069,
      1.0325,
      1.053,
      1.0689,
      1.0805,
      1.0884,
      1.093,
      1.0947,
      1.0941,
      1.0915,
      1.0873,
      1.0819,
      1.0756,
      1.0687,
      1.0614,
      1.0541,
      1.0468,
      1.0397,
      1.0329,
      1.0266,
      1.0208,
      1.0155,
      1.0107,
      1.0066,
      1.003,
      0.9999,
      0.9974,
      0.9953,
      0.9937,
      0.9926,
      0.9917,
      0.9913,
      0.991,
      0.9911,
      0.9913,
      0.9916,
      0.9921,
      0.9927,
      0.9934,
      0.994,
      0.9947,
      0.9954,
      0.9961,
      0.9968,
      0.9974,
      0.9979,
      0.9984,
      0.9989,
      0.9993,
      0.9997,
      1,
      1.0002,
      1.0004,
      1.0006,
      1.0007,
      1.0008,
      1.0008,
      1.0008,
      1.0008,
      1.0008,
      1.0008,
      1.0008,
      1.0007,
      1.0006,
      1.0006,
      1.0005,
      1.0004,
      1.0004,
      1.0003,
      1.0003,
      1.0002,
      1.0002,
      1.0001,
      1.0001,
      1,
      1,
      1,
      1,
      0.9999,
      0.9999,
      0.9999,
      0.9999,
      1
    )
    forwards;
}
#linea1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #fffce8;
  width: 29vw;
  height: 10px;
  margin-top: 9vh;
  border-radius: 9999px;
}
#cuando {
  font-size: 70px;
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 6vh;
  margin-left: 30vw;
  z-index: 5;
  width: 270px;
}
#cuando:hover {
  color: #fec713;
}
#inge {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: 12vw;
  margin-top: 7vh;
  z-index: 3;
}
#inge:hover {
  color: #fec713;
}
#convierte {
  grid-column: 2/3;
  margin-top: 8vh;
  padding-left: 7vw;
  width: 250px;
}
#convierte:hover {
  color: #fec713;
}
#en {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 3vh;
  margin-left: 20vw;
  z-index: 5;
  width: 50px;
}
#en:hover {
  color: #fec713;
}
#arte {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-left: 22vw;
  z-index: 2;
  line-height: 0.4;
}
#arte:hover {
  color: #fec713;
}
#escuderia {
  grid-column: 1/2;
  grid-row: 4/5;
  line-height: 0.4;
  padding-left: 13vw;
}
#escuderia:hover {
  color: #fec713;
}
#linea2 {
  background-color: #fffce8;
  width: 38vw;
  height: 10px;
  margin-top: 2vh;
  grid-column: 1/3;
  border-radius: 9999px;
}
#escudo-javeriana {
  padding-left: 37vw;
}
#tipografia {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 75%;
  height: 75%;
  padding-top: 10vh;
}
.texto_header_1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 50px;
  color: #fffce8;
  font-weight: 200;
  margin: 0;
}
.texto_header_2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 250px;
  font-weight: 500;
  color: #fffce8;
  letter-spacing: -0.07em;
  margin: 0;
}
